
body{
    margin: 0;
    padding: 0;
}

/*    Banner    */

#banner{
    height: 5em;
    text-align: center;
    border-bottom: 1px black groove;
}

#banner #name-title, #banner li.menu-item{
    color: #000;
}

#banner span{
    display:inline;
}

#logo{
    width:20%;
    display:block;
}

#name-title{
    width:10%;
    font-size: 30px;
    margin-top: 3.7em;
    vertical-align: center;
}

#menu{
    width:50%;
    float: inline-end;
    margin-top: 3.2em;
}

ul#menu-items{
    display:inline;
}

li.menu-item{
    display:inline;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #B3002A;
    padding: 0.5em;
    color: #ffffff;
    border: #B3002A 0.1em ridge;
}

li.menu-item a{
    color: white;
    text-decoration: none;
}

/*    Content    */

#content{
    width:100%;
    background: url("../image/food.jpg");
    min-height: 15em;
}

#center-content{
    position:relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: auto;
}

#search-label{
    background-color: white;
}

#search, #search-label{
    height: 3em;
}

#search-box{
    width:100%;
    margin-top: 6em;
    font-size: 20px;
}

#search{
    width:30%;

}