div.menu{
    display:inline-grid;
    margin: 2em 2em 2em 5em;
    padding: 2em 1em 2em;
    font-family: Arial;
}

div.menu-item{
    float:left;
    margin: 1em 1em 1em;
    padding: 1em 2em 1em;
    border: 0.1em solid;
    background: #EDEDED;
    border-radius:0.5em;
    font-family: Arial;
}

p.food-text{
    display:inline-grid;
    margin: 1em 1em 1em;
    padding: 1em 2em 1em;
    border: 0.1em solid;
    background: #EDEDED;
    border-radius:0.5em;
    font-family: Arial;
}

div.add-button{
    display:inline;
    margin: auto auto 1em;
    background: #EDEDED;
    border-radius: 0.5em;
    padding: 0.5em;
    font-family: Arial;
    width:max-content;
}

div.add-button a{
    text-decoration: none;
}

p.order-info{
    display:inline-grid;
    margin: 1em 1em 1em;
    padding: 1em 2em 1em;
    border: 0.1em solid;
    background: #EDEDED;
    border-radius:0.5em;
    font-family: Arial;
}

div.checkout-button{
    display:inline;
    margin:auto;
    width: max-content;
    background: #EDEDED;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.5em;
    font-family: Arial;


}

input.search{
    display:inline-grid;
    margin: 1em 1em 1em 1em;
    border-radius:0.5em;
    border: 0.1em solid;
    font-family: Arial;
}

div.search-button{
    display:inline;
    margin-left: 1em;
    margin-right: 1em;
    background: #EDEDED;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.5em;
    font-family: Arial;
}

b.TitleofPage{
    background: #EDEDED;
    border-radius:0.5em;
    width: max-content;
    margin: auto;
    padding: 2em 2em 2em;
    font-family: Arial;
    font-size: 22px;
}